In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/datavidia/sample_submission.csv
/kaggle/input/datavidia/train.csv
/kaggle/input/datavidia/test.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/kaggle/input/datavidia/train.csv")
df_test = pd.read_csv("../input/datavidia/test.csv")

In [4]:
df.head()

,review_id,review_text,category
0,0fc651bfdd38a3b4ba19ef9d0d1e92e3,"Penginapannya rapi, bersih, suasana tenang, pe...",1
1,7d8cb2e465c5602e51c1ba8710e8ff16,"wifi tidak sampai kamar, tidak tersedia heater...",0
2,1f4447c73e5e1aac462d05b0ecbd5a55,"Lantai kamar mandi kotor, bau, dan seperti sdh...",0
3,b9aefbfb0debbfff43f8b268c82b43c0,"Wc jorok.. Kasur tidak dibersihkan,, handuk ti...",0
4,e2afef18bd695fae43d4d53b8c547bd4,bocor lagi,0

In [5]:
bikes = ['trek', 'redline', 'giant']

In [6]:
bikes[0]='Car'

In [7]:
bikes

['Car', 'redline', 'giant']

In [8]:
print({"nama":"Budi", 'umur':20})

{'nama': 'Budi', 'umur': 20}

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14856 entries, 0 to 14855
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    14856 non-null  object
 1   review_text  14856 non-null  object
 2   category     14856 non-null  int64
dtypes: int64(1), object(2)
memory usage: 348.3+ KB

In [11]:
df

,review_id,review_text,category
0,0fc651bfdd38a3b4ba19ef9d0d1e92e3,"Penginapannya rapi, bersih, suasana tenang, pe...",1
1,7d8cb2e465c5602e51c1ba8710e8ff16,"wifi tidak sampai kamar, tidak tersedia heater...",0
2,1f4447c73e5e1aac462d05b0ecbd5a55,"Lantai kamar mandi kotor, bau, dan seperti sdh...",0
3,b9aefbfb0debbfff43f8b268c82b43c0,"Wc jorok.. Kasur tidak dibersihkan,, handuk ti...",0
4,e2afef18bd695fae43d4d53b8c547bd4,bocor lagi,0
...,...,...,...
14851,5ed96732e4f1e1e69dfb8669cf507587,kotor dan tidak ada wifi,0
14852,b0692bdf4926ee0d58c2d9a0f28b0d62,Kamar tidak bersih,0
14853,5217f5f284066f232d7b3c3bbd3cccd2,kamarnya terlalu kecil beberapa cm antara kasu...,0
14854,31ca5a04ccc0dae4eaafc91c9822bede,Wifinya sangat kurang memadai..,0
14855,aadb614310e5ceb79b4c68d14f8dab8a,Pelayan sangat sangat buruk. Dulu pelayan nya ...,0

In [12]:
df[df.category==1]

,review_id,review_text,category
0,0fc651bfdd38a3b4ba19ef9d0d1e92e3,"Penginapannya rapi, bersih, suasana tenang, pe...",1
7,b0a8cb904f0536dca57bd5be090e510c,"Pelayanannya sangat baik,kmr yang bersih,menu ...",1
12,d6fd462ba09d87510ac1d767b68d1d68,Hotel bersih bgt...nyaman...kolam renang bersi...,1
13,0ce78b57274ab55b29860f62f16ebfbb,"Roomnya bersih banget, lokasi strategis pusat ...",1
28,f95c715acd1912c10dbe0f27f3bbd81c,"Kamar agak lembab, lokasi oke.",1
...,...,...,...
14799,28475dc9a3d9fd131e11265e6e97c9d8,"Kamar yang bagus dan nyaman, untuk area parkir...",1
14806,ce8aa3b1086e8569058e9e806c71b121,Baik dan Murah saya sangat senang.,1
14825,f81df3b4a5842f1fad6e80b3a22394ea,No hot shower and hair dryer. Quite inconvenient,1
14840,d3d9c1482aea45c8e80d3d6e785096ca,very nice and balance with the cost,1
14846,84fa2a1f31b1af95e5562ebcc4caa82e,Keren sekali saya suka puas pokok nya,1

In [13]:
df['review_id']

0        0fc651bfdd38a3b4ba19ef9d0d1e92e3
1        7d8cb2e465c5602e51c1ba8710e8ff16
2        1f4447c73e5e1aac462d05b0ecbd5a55
3        b9aefbfb0debbfff43f8b268c82b43c0
4        e2afef18bd695fae43d4d53b8c547bd4
                       ...
14851    5ed96732e4f1e1e69dfb8669cf507587
14852    b0692bdf4926ee0d58c2d9a0f28b0d62
14853    5217f5f284066f232d7b3c3bbd3cccd2
14854    31ca5a04ccc0dae4eaafc91c9822bede
14855    aadb614310e5ceb79b4c68d14f8dab8a
Name: review_id, Length: 14856, dtype: object

In [14]:
df.review_id

0        0fc651bfdd38a3b4ba19ef9d0d1e92e3
1        7d8cb2e465c5602e51c1ba8710e8ff16
2        1f4447c73e5e1aac462d05b0ecbd5a55
3        b9aefbfb0debbfff43f8b268c82b43c0
4        e2afef18bd695fae43d4d53b8c547bd4
                       ...
14851    5ed96732e4f1e1e69dfb8669cf507587
14852    b0692bdf4926ee0d58c2d9a0f28b0d62
14853    5217f5f284066f232d7b3c3bbd3cccd2
14854    31ca5a04ccc0dae4eaafc91c9822bede
14855    aadb614310e5ceb79b4c68d14f8dab8a
Name: review_id, Length: 14856, dtype: object

In [15]:
df_drop = df.drop(df.category,axis=0)

In [16]:
df_drop

,review_id,review_text,category
2,1f4447c73e5e1aac462d05b0ecbd5a55,"Lantai kamar mandi kotor, bau, dan seperti sdh...",0
3,b9aefbfb0debbfff43f8b268c82b43c0,"Wc jorok.. Kasur tidak dibersihkan,, handuk ti...",0
4,e2afef18bd695fae43d4d53b8c547bd4,bocor lagi,0
5,a45d79bde831ad1306adbd8ffb5d3d50,"kebersihan, pelayanan, kerapihan",0
6,ecdf90bd55184829caae18e5423a2e53,saya hampir tidak bisa tidur krn bantal sangat...,0
...,...,...,...
14851,5ed96732e4f1e1e69dfb8669cf507587,kotor dan tidak ada wifi,0
14852,b0692bdf4926ee0d58c2d9a0f28b0d62,Kamar tidak bersih,0
14853,5217f5f284066f232d7b3c3bbd3cccd2,kamarnya terlalu kecil beberapa cm antara kasu...,0
14854,31ca5a04ccc0dae4eaafc91c9822bede,Wifinya sangat kurang memadai..,0
14855,aadb614310e5ceb79b4c68d14f8dab8a,Pelayan sangat sangat buruk. Dulu pelayan nya ...,0